body {
    background-color: rgba(28, 116, 119, 0.938);
}

section {
    padding: 40px;
}

h1, h2{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    
}

.name-email {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.name-email>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}
input[type="submit"] {
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

label {
    margin-bottom: 10px;
    margin-top: 20px;
}

input,
textarea {
    border-radius: 3px;
    border: none;
    padding: 10px;
}



.cta {

    color: white;
    background: linear-gradient(#8E86B5, #ACAEED);
    padding: 20px 30px;
    font-size: 17px;
    border-radius: 50px;
}

.cta:hover {
    text-decoration: none;
    background: linear-gradient(#696484, #8788BA);
}

@media screen and (max-width: 750px) {
    form {
        width: 100%;
    }
}

@media screen and (max-width: 530px) {
    .name-email {
        flex-direction: column;
        gap: 0;
    }
}